# Astro build output
dist/
.astro/

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production
.env.development

# macOS-specific files
.DS_Store

# Lock files (pick only the one you use)
package-lock.json
pnpm-lock.yaml
yarn.lock

# VSCode settings (optional)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VSCode local history
**/.history

# Cache folders (Astro or build tools)
**/.cache
.cache/

.firebase/
.cache/