<section class="py-16 bg-gray-50">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">
          Quieres ser mentor?
        </h2>
        <p class="text-xl text-gray-600">
          🤝 Comparte tu conocimiento, guía a los equipos y acompáñanos como mentor en esta edición imperdible de la Hackathon Build with AI Bolivia.
        </p>
        <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdjrU4CTBh-OSGanyFdjmh2GFlVp7b3Y1lzbWxPyx58YrD-bw/viewform"
        target="_blank"
        class="rounded-full mt-4 border-2 border-blue-500 p-4 px-8 text-blue-500 inline-flex items-center text-center hover:bg-blue-50 transition"
        >
        Quiero ser mentor! 
    </a>
      </div>
      </div>
    </div>
  </section>
  