<section id="about" class="bg-[#F4F4F4] px-6 py-12 md:p-28 xl:px-72">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-5">
        <div
            class="bg-white p-12 md:px-8 md:py-20 rounded-xl md:col-span-2 lg:col-span-1 lg:row-span-2"
        >
            <h2 class="text-[33px] sm:text-3xl font-bold mx-auto">¿Qué es Build with AI?</h2>
            <p class="text-xl mt-4 sm:text-xl leading-relaxed text-gray-700">
                Es una <b>hackatón tecnológica</b> enfocada en el desarrollo de herramientas y soluciones
                con Inteligencia Artificial.<br /><br />El evento convoca a programadores,
                diseñadores, estudiantes y profesionales con interés en desarrollo y el uso de la
                Inteligencia Artificial.
            </p>
        </div>
        <div class="bg-white p-12 md:px-8 rounded-xl text-center">
            <h2 class="text-8xl font-bold">300</h2>
            <p class="text-xl mt-4 sm:text-xl">Participantes</p>
        </div>
        <div class="bg-white p-12 md:px-8 rounded-xl text-center">
            <h2 class="text-8xl font-bold">3</h2>
            <p class="text-xl mt-4 sm:text-xl">Días</p>
        </div>
    </div>
</section>
