---
import { Image } from "astro:assets"

import LogoDark from "@/assets/images/logo-build-with-ai-dark-2025.png"
---

<nav class="bg-black fixed w-full z-20 top-0 p-4">
  <a href="/" class="h-4">
    <Image src={LogoDark} alt="Build with AI Bolivia 2025 logo" height={36} />
  </a>
</nav>
