---
import i70 from "../../../assets/images/packs/inscripciones-70.png"
import i150 from "../../../assets/images/packs/inscripciones-150.png"
import GDGcardPack from "./GDGCardPack.astro"
---

<div id="organizadores" class="mx-auto px-4 py-16 space-y-8 bg-[#f4f4f4]">
  <h2 class="text-2xl sm:text-3xl font-bold mx-auto text-center">Paquetes</h2>
  <div class="flex flex-wrap justify-center">
    <GDGcardPack imagePack={i70}></GDGcardPack>
    <GDGcardPack imagePack={i150}></GDGcardPack>
  </div>
</div>
