---
import WorkshopDetail from "./WorkshopDetail.astro"

import angel from "../../assets/images/workshops/Angel-Bulnes.jpg"
import julio from "../../assets/images/workshops/Julio-Colque.jpg"

import aaron from "../../assets/images/workshops/Aaron-Guerrero.jpeg"
import vanesa from "../../assets/images/workshops/Vanesa-Velasquez.png"
import julioCesar from "../../assets/images/workshops/Julio-Cesar-Ruiz.jpg"

import mauro from "../../assets/images/workshops/Mauro-Gomez.jpeg"
import sandro from "../../assets/images/workshops/Sandro-Moreira.png"
import juanGuillermo from "../../assets/images/workshops/Juan-Guillermo.jpeg"

const workshops = [
  {
    id: "1",
    date: "Vie. 19 abril 2024",
    links: [
      "https://www.facebook.com/gdgsucre/videos/1605607886943684/",
      "https://www.facebook.com/GDGCochabamba/videos/1111880593455642/",
      "https://www.facebook.com/GDGSantaCruz/videos/434220749257476/",
    ],
    details: [
      {
        time: "20:00 (GMT-4)",
        title: "Inteligencia Artificial, ética y herramientas de apoyo",
        img: julio,
        speaker: "Julio Jhonathan Colque Alcón 🇧🇴",
        position: "Ingeniero de sistemas",
      },
      {
        time: "20:30 (GMT-4)",
        title: "Beyond Code: Qué hacer cuando no estás programando y construyes un producto",
        img: angel,
        speaker: "Angel Bulnes 🇭🇳",
        position: "Senior mobile developer",
      },
    ],
  },
  {
    id: "2",
    date: "Mar. 23 abril 2024",
    links: [
      "https://www.facebook.com/gdgsucre/videos/1661837077980123/",
      "https://www.facebook.com/GDGSantaCruz/videos/980815600258593/",
      "https://www.facebook.com/GDGCochabamba/videos/956867209435782/",
    ],
    details: [
      {
        time: "20:00 (GMT-4)",
        title: "My first step with Gemma Models",
        img: aaron,
        speaker: "Aarón Guerrero 🇲🇽",
        position: "Cloud Developer",
      },
      {
        time: "20:45 (GMT-4)",
        title: "Desarrollando producto en Tecnología con IA",
        img: julioCesar,
        speaker: "Julio César Ruiz Tejada 🇵🇦",
        position: "Ingeniero en Sistema y Computación",
      },
      {
        time: "21:30 (GMT-4)",
        title: "ChatBot WhatsApp con IA Gemini ✨ de Google",
        img: vanesa,
        speaker: "Vanesa Velasquez 🇧🇴",
        position: "Ingeniera de sistemas",
      },
    ],
  },
  {
    id: "3",
    date: "Vie. 26 abril 2024",
    links: [
      "https://www.facebook.com/gdgtarija/",
      "https://www.facebook.com/GDGLaPaz/",
      "https://www.facebook.com/GDGCochabamba/",
    ],
    details: [
      {
        time: "20:00 (GMT-4)",
        title: "Google Gemini y Gemma: El inicio de una nueva era en IA",
        img: mauro,
        speaker: "Mauro Gómez Herrera 🇨🇱",
        position: "CEO de PyxJam",
      },
      {
        time: "20:30 (GMT-4)",
        title: "Potenciando sus aplicaciones con IA de Google MediaPipe",
        img: sandro,
        speaker: "Sandro Moreira 🇧🇷",
        position: "Professor y CIO en Univ. Rio Verde",
      },
      {
        time: "21:00 (GMT-4)",
        title: "Evaluando los Generative Models con Rapid Evaluation de Vertex AI",
        img: juanGuillermo,
        speaker: "Juan Guillermo Gómez 🇲🇽",
        position: "GDE en Machine Learning",
      },
    ],
  },
]
---

<div id="talleres" class="bg-black text-white">
  <div class="max-w-screen-xl mx-auto px-4 py-8 space-y-4">
    <h2 class="text-2xl sm:text-3xl font-bold mx-auto text-center">Talleres previos</h2>

    {
      workshops.map(({ id, date, details }) => (
        <div class="space-y-4">
          <div class="flex items-center space-x-4 mt-6">
            <span class="w-60 md:w-fit text-nowrap font-bold text-lg md:text-2xl">{date}</span>
            <hr class="w-full border-blue-500" />
            <a
              id={id}
              target="_blank"
              rel="noopener noreferrer"
              class="text-nowrap text-red-500 hover:bg-red-500 hover:text-black font-semibold border px-1  md:text-lg md:px-2"
            >
              Ver en Facebook
            </a>
          </div>

          {details?.map(detail => (
            <WorkshopDetail {...detail} />
          ))}
        </div>
      ))
    }
  </div>
</div>

<script is:inline define:vars={{ workshops }}>
  for ({ id, links } of workshops) {
    // choose a random link to avoid favoring any particular chapter
    document.getElementById(id).href = links[Math.floor(Math.random() * links.length)]
  }
</script>
