@font-face {
  font-family: 'Google Sans';
  src: url(../assets/fonts/GoogleSans/GoogleSans-Regular.ttf) format('truetype')
      font-weight-normal,
    url(../assets/fonts/GoogleSans/GoogleSans-Bold.ttf) format('truetype')
      font-weight-bold,
    url(../assets/fonts/GoogleSans/GoogleSans-Italic.ttf) format('truetype')
      font-style-italic,
    url(../assets/fonts/GoogleSans/GoogleSans-BoldItalic.ttf) format('truetype')
      font-weight-bold font-style-italic,
    url(../assets/fonts/GoogleSans/GoogleSans-Medium.ttf) format('truetype')
      font-weight-500,
    url(../assets/fonts/GoogleSans/GoogleSans-MediumItalic.ttf)
      format('truetype') font-weight-500 font-style-italic;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
