---
import Navbar from "components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
import Faqs from "components/faqs/Faqs.astro";
---

<Layout>
  <Navbar />
  <main>
    <Faqs />
  </main>
</Layout>
