---
import Navbar from "@/components/2025/Navbar.astro";
import Layout from "../layouts/Layout.astro"
import Faq from "components/shared/faqs/Faqs.astro";
---

<Layout>
  <main>
    <Navbar/>
    <Faq />
  </main>
</Layout>
