---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import Organizers from "../components/organizers/Organizers.astro";
---

<Layout>
  <main>
    <Banner />
    <Organizers />
  </main>
</Layout>
