---
import Banner from "../components/Banner.astro"
import Layout from "../layouts/Layout.astro"
import AboutUs from "../components/AboutUs.astro"
import Organizers from "../components/organizers/Organizers.astro"
import StyleTransfer from "../components/StyleTransfer.astro"
---

<Layout>
  <main>
    <Banner />
    <AboutUs />
    <StyleTransfer />
    <Organizers />
  </main>
</Layout>
