---
import AboutUs from 'components/AboutUs.astro';
import Banner from 'components/Banner.astro';
import Layout from 'layouts/Layout.astro';
import Navbar from 'components/Navbar.astro';
import Organizers from 'components/organizers/Organizers.astro';
import Workshops from 'components/Workshops.astro';
import Mentors from 'components/Mentors.astro';
import Faqs from "components/faqs/Faqs.astro";
import Sponsors from "components/sponsors/Sponsors.astro";
import Winners from 'components/winners/Winners.astro';
import Reviews from "components/Reviews.astro";
---

<Layout>
  <Navbar />
  <main>
    <Banner />
    <AboutUs />
    <Winners/>
    <Workshops />
    <Organizers />
    <Mentors />
    <Sponsors />
    <Reviews />
    <Faqs />
  </main>
</Layout>
