---
import Layout from "layouts/Layout.astro";

import Hero from "components/2025/Hero.astro";
import Navbar2 from "components/2025/Navbar.astro";
import AboutUs from "@/components/2025/AboutUs.astro";
import Organizers from "@/components/2025/organizers/Organizers.astro";
import Footer from "@/components/2025/Footer.astro";
import Sponsors from "@/components/2025/Sponsors.astro";
import Road from "@/components/2025/Road.astro";
---

<Layout>
  <Navbar2 />
  <main>
    <Hero />
    <Road />
    <AboutUs />
    <Sponsors />
    <Organizers />
  </main>
  <Footer />
</Layout>
