---
import Layout from 'layouts/Layout.astro';

import Hero from 'components/2025/Hero.astro';
import Navbar2 from 'components/2025/Navbar.astro';
import AboutUs from '@/components/2025/AboutUs.astro';
import Organizers from '@/components/2025/organizers/Organizers.astro';
---

<Layout>
  <Navbar2 />
  <main>
    <Hero />
    <AboutUs />
    <Organizers />
  </main>
</Layout>
