---
import Navbar from "components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
import StyleTransfer from "../components/StyleTransfer.astro"
---

<Layout>
  <Navbar />
  <main>
    <StyleTransfer />
  </main>
</Layout>
