---
import Layout from "../layouts/Layout.astro"
import StyleTransfer from "../components/shared/StyleTransfer.astro"
import Navbar from "@/components/2025/Navbar.astro"
---

<Layout>
  <main>
    <Navbar/>
    <StyleTransfer />
  </main>
</Layout>
