---
import Navbar from "components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
import Workshops from "components/Workshops.astro"
import Mentors from "components/Mentors.astro"
---

<Layout>
  <Navbar />
  <main>
    <Workshops/>
    <Mentors />
  </main>
</Layout>
