---
import Layout from "../layouts/Layout.astro"
import Workshops from "components/2024/Workshops.astro"
import Mentors from "components/2024/Mentors.astro"
---

<Layout>
  <main>
    <Workshops/>
    <Mentors />
  </main>
</Layout>
