<div class="bg-[#F4F4F4] px-6 py-12 md:p-[112px] xl:px-[300px] grid md:grid-cols-2 gap-5" id="about">
    <div class="bg-white p-12 max-w-screen-xl md:px-8 md:py-24 rounded-xl md:col-span-2 lg:col-span-1 place-content-center">
        <h2 class="text-[33px] sm:text-3xl font-bold mx-auto">
            <p class="">¿Qué es Build with AI?</p>
        </h2>
        <p class="text-[20px] mt-4 sm:text-xl leading-relaxed text-gray-700">
            Es una <b>hackathon tecnológica</b> enfocada en el desarrollo de herramientas
            y soluciones con Inteligencia Artificial.<br /><br />El evento
            convoca a programadores, diseñadores, estudiantes y profesionales
            con interés en desarrollo y el uso de la Inteligencia Artificial.
        </p>
    </div>
    <div class="grid gap-5 lg:grid-cols-1">
        <div
            class="bg-white p-12 max-w-screen-xl md:px-8 rounded-xl text-center"
        >
            <h2 class="text-[93px] font-bold mx-auto">
                <p class="">100</p>
            </h2>
            <p class="text-[20px] mt-4 sm:text-xl leading-relaxed text-gray-700">
                Participantes
            </p>
        </div>
        <div
            class="bg-white p-12 max-w-screen-xl md:px-8 rounded-xl text-center"
        >
            <h2 class="text-[93px] font-bold mx-auto">
                <p class="">3</p>
            </h2>
            <p class="text-[20px] mt-4 sm:text-xl leading-relaxed text-gray-700">
                Días
            </p>
        </div>
    </div>
</div>