<div class="bg-mobile-about-section sm:bg-desktop-about-section bg-cover bg-no-repeat bg-top h-auto text-black">
    <div
        id="about"
        class="max-w-screen-xl mx-auto px-10 md:px-8 py-16 md:py-24 space-y-4 text-center"
    >
        <h2 class="text-2xl sm:text-3xl font-bold mx-auto ">¿QUÉ FUE LA BUILD WITH AI BOLIVIA EN 2024?</h2>
        <p class="text-lg sm:text-xl leading-relaxed text-gray-700">
            Fue la primera hackathon tecnológica del país
            enfocada en el uso de la Inteligencia Artificial para abordar los
            Objetivos de Desarrollo Sostenible. Se llevará acabo del 4 al 5 de
            mayo de 2024 en La Paz, este evento convoca a programadores,
            diseñadores, estudiantes y profesionales con interés en desarrollo
            sostenible mediante el uso de la Inteligencia Artificial. Los
            participantes formarán equipos para diseñar prototipos funcionales
            innovadores, beneficiando a la sociedad boliviana con sus
            habilidades técnicas y creativas.
        </p>

        <h2 class="text-2xl sm:text-3xl font-bold mx-auto">Donde se Ubico el evento ?</h2>
        <p>EMI Escuela Militar de Ingeniería - Irpavi, Av. Rafael Pabón, Lado Megacenter</p>
        <iframe
        class="mx-auto border md:w-1/2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.818043789891!2d-68.08954372408195!3d-16.535281184213815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f212398c5d1b5%3A0x1e20bc0a1880e88c!2sFW77%2BV6J%20Escuela%20Militar%20de%20Ingenier%C3%ADa%2C%20Av.%20Rafael%20Pab%C3%B3n%2C%20La%20Paz!5e0!3m2!1ses-419!2sbo!4v1714442392996!5m2!1ses-419!2sbo"
        allowfullscreen=""
        height="300"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
