---
import { Image } from 'astro:assets';

import logoBuildWithAI from '../assets/images/logo-build-with-ai.png';
import boliviaLogo from '../assets/images/bolivia-logo.svg';
---

<section class="mt-16 relative bg-hero-section bg-cover bg-no-repeat h-[calc(100dvh-65px)] min-h-800">
  <div
    class="flex flex-col justify-center xl:w-1/2 h-full"
  >
    <Image
      src={logoBuildWithAI}
      alt="Build with AI Logo"
      class="w-full md:w-4/5 lg:w-3/5 xl:w-4/5 mb-10 px-2 md:px-10"
    />
    <div class="flex justify-center md:justify-start gap-3 px-4 md:px-20">
      <a
        href="https://b.link/RegistroBuildWithAI"
        class="bg-black text-white flex items-center justify-center px-3 py-2 uppercase w-250"
        target="_blank"
        rel="noopener noreferrer"
      >
        Regístrate Aquí
      </a>
      <a
        href="https://b.link/BuildWithAIHackathon"
        class="bg-white text-black border border-solid border-black flex items-center justify-center px-3 py-2 uppercase w-250"
        target="_blank"
        rel="noopener noreferrer"
      >
        Convocatoria
      </a>
    </div>
  </div>
  <Image
    src={boliviaLogo}
    alt="Bolivia Logo"
    class="bg-white lg:bg-transparent absolute bottom-5 right-10 w-16 xl:w-[152px]"
  />
</section>
