---
import { Image } from 'astro:assets';

import logoBuildWithAI from '../assets/images/logo-build-with-ai.png';
import boliviaLogo from '../assets/images/bolivia-logo.svg';
---

<section class="banner">
  <div
    class="banner_actions flex flex-col justify-center items-center sm:items-start md:items-center w-full lg:w-1/2 xl:w-1/2 h-full"
  >
    <Image
      src={logoBuildWithAI}
      alt="Build with AI Logo"
      class="w-full sm:w-2/5 md:w-3/5 lg:w-full xl:w-3/5 mb-4 mx-2 md:mb-10"
    />
    <div class="flex gap-3 sm:ml-2">
      <a
        href="https://b.link/RegistroBuildWithAI"
        class="banner__button flex items-center justify-center px-3 py-2 uppercase w-250"
        target="_blank"
        rel="noopener noreferrer"
      >
        Regístrate Aquí
      </a>
      <a
        href="https://b.link/BuildWithAIHackathon"
        class="banner__button banner__button--secondary flex items-center justify-center px-3 py-2 uppercase w-250"
        target="_blank"
        rel="noopener noreferrer"
      >
        Convocatoria
      </a>
    </div>
  </div>
  <Image
    src={boliviaLogo}
    alt="Bolivia Logo"
    class="bg-white lg:bg-transparent absolute bottom-5 right-10 w-16 xl:w-[152px]"
  />
</section>

<style>
  .banner {
    background-image: url('../assets/images/black-lines.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;

    .banner__button {
      background: #000;
      color: white;

      &.banner__button--secondary {
        background: #fff;
        border: 1px solid #000;
        color: #000;
      }
    }
  }
</style>
