---
import faqs from "./faqs.json";
import FaqCard from "./FaqCard.astro";
---

<section id="faqs" class=" max-w-screen-lg mt-12 mx-auto px-4 py-16">
    <section class="max-w-screen-xl space-y-8">
        <h2 class="text-2xl sm:text-3xl font-bold mx-auto">FAQs</h2>
        <h1 class="text-1xl sm:text-xl mx-auto">
            ¿Tienes dudas? ¡Esperamos puedas despejarlas aquí!
        </h1>
        <section class="flex flex-col">
            {faqs.map((faq) => <FaqCard {...faq} />)}
        </section>
    </section>
</section>
