---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Build with AI Bolivia es un hackaton organizado por Google Developer Groups (GDG) en busca de soluciones con Inteligencia Artificial."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Build with AI</title>
  </head>
  <body>
    <slot></slot>
  </body>
</html>
