---
import '@styles/base.css'
---

<!doctype html>
<html lang="es">
  <head>
    <title>Build with AI Bolivia</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Build with AI Bolivia es un hackaton organizado por Google Developer Groups (GDG) en busca de soluciones con Inteligencia Artificial."
    />
    <meta
      name="og:description"
      content="Build with AI Bolivia es un hackaton organizado por Google Developer Groups (GDG) en busca de soluciones con Inteligencia Artificial."
    />
    <meta name="keywords" content="gdg, bolivia, gdg bolivia, ai, build with ai" />
    <meta name="og:title" content="Build with AI Bolivia" />
    <meta name="og:image" content="/meta-icon.png" />
    <meta name="og:site_name" content="Build with AI Bolivia" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot></slot>
  </body>
</html>
